.Header
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: grid
    grid-template-rows: 1fr 1fr
    height: 90px
    color: #DCDCDC
    .headerContainer
        display: grid
        grid-template-columns: 1fr 3fr
        align-items: center
        align-content: center
        justify-content: center
        justify-items: center
        width: 100%
        height: 50px
        margin-top: 0
        margin-bottom: 10px
        .headercontainerLogo
            height: 40px
        .headercontainerName
            height: 40px
    .headerMenu
        display: grid