.Menu
    display: grid
    background-color: yellow
    margin: 1px
    width: 60%
    height: 30px
    .menuList
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        background-color: green
        margin: 1px
        .menulistItem
            background-color: purple
            margin: 5px
            display: grid
            .menulistitemLink
                background-color: white
                margin: 1px
                display: grid
                color: black
                justify-content: center
                align-items: center
                text-decoration: none
                border: 1px
                border-radius: 30px
                width: 150px
                &:hover
                    color: white
                    background-color: black